<div class="topContent">
	<%= render 'common' %>
</div>

<div class="box contentBox" style="width: 300px;">

	<h1>call back request</h1>
	<p>
		Simply fill out the fields below and submit your call back request. 
		We will contact you within 24 hours during our regular business days, Monday-Saturday.
	</p>
	<br />
	<% form_for(@contact) do |f| %>
	  <%= f.error_messages(:header_message => 'Some errors prohibited this message from being sent') %>
	
		<div id="contactFirstName">
				<%= f.text_field :first_name, :size => 15 %>
	
				<div><%= f.label :first_name %></div>
		</div>
		<div id="contactLastName">
				<%= f.text_field :last_name, :size => 15 %>
				<div><%= f.label :last_name %></div>
		</div>
		<div id="contactSubject">
				<%= f.text_field :subject, :size => 30 %>
				<div><%= f.label :subject %></div>
		</div>
		<div id="contactPhoneNumber">
				<%= f.text_field :phone_number, :size => 15 %>
				<div><%= f.label :phone_number %></div>
		</div>
		<div id="contactEmailAddress">
				<%= f.text_field :email_address, :size => 15 %>
				<div><%= f.label :email_address %></div>
		</div>
		<div id="contactMessage">
			    <%= f.text_area :message, :rows => 3, :cols => 28%>
				<div><%= f.label :message, 'message / best time(s) to contact you (optional)' %></div>
		</div>
		<div id="contactSend">
			<%= f.submit 'Send' %>
		</div>
	    
	<% end %>
</div>
	<div style="clear: both"> </div>
