<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    	<%=stylesheet_link_tag 'style'%>
		<%=javascript_include_tag :defaults %>
				
        <title>National Signs and Design - <%=page_title%></title>
    </head>
    <body>
    	<div id="menu">
    		<ul>
    			
    			<%menu_items.each do |link|%>
					<li><%=link_to link[:text], link[:address], :class => link[:class]%></li>	
				<%end%>
    		</ul>
    	</div>
		<div id="logo">
			<%=image_tag 'logo.png', :size => "437x52", :alt => "Logo: National Signs and Design - your imagination is our creation" %>
		</div>
		
		<div id="content">
			<%=yield%>

			

		</div>



			<div id="footer">
				<div style="width: 160px; float: left;">
					National Signs and Designs<br />
					2037 W. Carroll Suite C-118<br />
					Chicago, IL 60612<br />
				</div>
	    		<div style="width: 500px; margin: 0 auto;">
					<div style="float: left;">
	    				<%= menu_items.map do |link|link_to link[:text].humanize, link[:address], :class => link[:class] end.join(' | ') %>
					</div>
				</div>

				<div style="100px; float: right; text-align: right;">
					Phone: 312-997-2245<br />
					Fax: 312-997-2052<br />
					<br />
					<%=mail_to 'artwork@nationalsignsanddesign.com'%>
				</div>
				<div style="clear: both"> </div>
			</div>



    </body>
</html>